/* 
 *  tabs of notebook
 */
div.book-tabs {
    @include clearfix();
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	line-height: 1.2rem;
	* {
		padding: 0; 
	}
	ul {
		margin: 0 0 0 0;
		padding: 0 0 0 0; 
		list-style-type:none;
	}
	li {
		margin: 0 0 0 0;
		padding: 0.2rem 0.8rem;
		float:left;
		display: block;
		text-align: left;
		min-width: 4rem;			
		cursor: default;
		background-color: var(--book-back-color-dark);
		border-left: 1px solid var(--back-color);
		border-bottom: 1px solid var(--back-color);
		color: var(--tab-text-color);
	}
	li:first-child {
		border-left: none;
	}
	li.selected {
		background-color: var(--book-back-color);
		border-bottom-color: var(--book-back-color);
	}
	li:hover {
		background-color: var(--book-back-color-light);
		border-bottom-color: var(--book-back-color-light);
	}
	li.cmd-page-add {
		margin: 0 0 0 4px;
		padding: 0.12rem 1rem 0 0.5rem;
		border-radius: 5px;
		border-top-right-radius: 12px;
		min-width: 1rem;			
		background-color: var(--back-color-light);
		border: 1px solid var(--back-color-dark);
	}
	li.cmd-page-add:hover {
		background-color: var(--book-back-color-light);
	}
	ul.controls {
		float: right;
		li {
			border-radius: 12px;
			padding: 0 1rem;
			min-width: 1rem;
			background-color: var(--back-color-dark);
			border: 1px solid var(--back-color-dark);
		}
		li:hover {
			background-color: var(--back-color-light);
		}
		li.on {
			background-color: var(--back-color-high-light);
			box-shadow: 0 0 8px rgba(255,255,255,.8);
		}
		li.on:hover {
			background-color: var(--back-color-light);
		}
	}
}
div.book-tabs:after {
    @include clearfix-after();
}
