/* 
 *  メニュー型ナビ 
 */
nav.nav_menu {
    @include clearfix();
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0.5rem; 
	* {
		padding: 0; 
	}
	&>ul>li {
		text-indent: 0.8rem;
		padding-bottom: 0.1rem;
	}
	ul {
		margin: 0 0 0 0;
		padding: 0 0 0 0; 
		list-style-type:none;
		background-color: var( --nav-base-color);
	}
	li {
		margin: 0 0 0 0;
		padding: 0 0.8rem 0 0;
		float:left;
		display: block;
		text-align: left;
		min-width: 4rem;			
		cursor: default;
		ul {
			padding: 0.2rem 0;
			border-top: 1px solid var( --nav-base-light);
			border-left: 1px solid var( --nav-base-light);
			border-bottom: 1px solid var( --nav-base-dark);
			border-right: 1px solid var( --nav-base-dark);
			position: absolute;
			display: none;
			li {
				position: relative;
				float: none;
			}
		}
	}
	li:hover {
		background-color: var( --nav-hover-color);
	}
	li:hover>ul {
		display: block;
	}
	li.disabled {
		pointer-events: none;
		color: var( --nav-font-inactive-color);
	}
	hr {
		margin: 0.4rem 0 0.4rem 0.8rem;
		border-top: 1px solid var( --nav-base-dark);
		border-bottom: 1px solid var( --nav-base-light);
		border-left: none;
		border-right: none;
		pointer-events: none;
	}
}
nav.nav_menu:after {
    @include clearfix-after();
}
